/*CHAT CSS*/
/****************************************************************************/
/* STILE DELLA CHAT E DEI PANNELLI */

/* HELP: Da qui è possibile modificare:
- I font ed i colori della chat
- Le dimensioni e la posizione della chat
- Lo sfondo della chat*/

iframe.iframe_chat {
    border: none;
    width: 1px;
    height: 1px;
    margin: 0px;
}

div.chat_window {
    text-align: center;
}

/**	* Fix per layout elastico
	* @author Blancks
*/
div.chat_box {
	position: absolute;
    top: 1px;
    bottom: 150px;
    left: 3px;
    right: 10px;
    overflow: auto;
    font-size: 16px;
    text-align: left;
    background: url(/themes/advanced/imgs/bg-chat.jpg);
    border: 7px dashed black;
    text-align: justify;
    font-weight: 400;
}

div.pagina_frame_chat div.page_body div.panels_box {
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 5px;
    width: 942px;
    background: url(/themes/advanced/imgs/sfondo-pannello-chat-bw.png) !important;
    text-align: center;
    margin: auto;
    background-size: 100% !important;
    height: 159px;
    background-repeat: no-repeat !important;
}

/**	* Fine fix */

/** * Avatar di chat
	* @author Blancks
*/
img.chat_avatar {
    margin: 8px;
    display: block;
    float: left;
    position: relative;
}

/***** testo della chat *****/

/* Tipi messaggio: (A azione, P parlato, N PNG, M Master, I Immagine, S sussurro, D dado, C skill check, O uso oggetto) */

div.chat_row_A {
    margin-top: 3px;
}

div.chat_row_A span.color2 {
    margin-top: 3px;
    color: #000;
    font-weight: bolder;
}

div.chat_row_P {
    margin: 9px;
    padding: 10px;
    background: #a19c7b90;
}

div.chat_row_P span.color2 {
    margin-top: 3px;
    color: #000;
    font-weight: bolder;
}

div.chat_row_X {
    padding: 0px 10px;
    color: #000;
}

div.chat_row_X span.color2 {
    color: #000;
    font-weight: 400 !important;
    font-family: 'Special Elite';
    letter-spacing: 2px;
    font-size: 12px;
}

.chat_row_X .chat_name, .chat_row_X .chat_msg {
    color: #000;
    font-weight: 400;
    font-family: 'Special Elite';
    letter-spacing: 2px;
    font-size: 12px;
}


div.chat_row_M {
    margin-top: 3px;
    border-width: 2px;
    border-style: solid;
    text-align: justify;
    background: #444;
    color:#a19c7b;
    font-family: 'Special Elite';
    font-size: 13px;
    border: 1px solid black;
    padding: 20px 40px;
    line-height: 20px;
}

div.chat_row_M span.color2 {
    margin-top: 3px;
    color: #999;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
}

div.chat_row_N {
    margin-top: 3px;
}

div.chat_row_N span.color2 {
    color: #000;
    font-weight: bolder;
}

div.chat_row_I {
    margin-top: 3px;
    text-align: center;
}

div.chat_row_S {
    margin-top: 3px;
}

div.chat_row_D {
    margin-top: 3px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    color: cyan;
}

div.chat_row_C {
    margin-top: 3px;
    border-width: 2px;
    background: #999;
    text-shadow: 1px 1px 1px #d2b48c;
    padding: 4px;
}

span.chat_time {
    font-size: 10px;
    font-weight: bolder;
    margin-right: 3px;
}

span.chat_name {
	font-weight: 400;
    font-size: 16px;
    color: #000;
    letter-spacing: 2px;
    font-family: 'Special Elite';
    text-shadow: 1px 1px 1px black;
}

span.chat_msg {
    color: #333;
    font-size: 12px;
}

span.chat_master {
}

span.chat_me, span.chat_me_master {
    text-decoration: underline;
}

/***** form inserimento *****/

div.form_row {
    clear: both;
    height: 20px;
    position: relative;
    margin: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: auto;
    /* right: auto; */
    /* left: 100px;*/
}

div.casella_chat {
    float: left;
    margin-bottom: 6px;
}

/*Casella Tag*/
input#tag {
    width: 100px;
    margin-left: 13px;
}

/*Casella Messaggio*/
textarea#message {
    width: 520px;
    height: 45px;
    position: relative;
    margin: auto;
    left: 11px;
}

div.casella_chat input[type='submit'] {
    width: 70px;
    margin: 5px 0 15px 0;
    font-family: 'Bitter', sans-serif;
    background: beige;
    padding: 5px;
    position: relative;
    top: -6px;
    left: 19px;
}

div.form_chat {
    width: 881px;
    position: relative;
    top: 60px;
    left: 45px;
}

#dadoModal .casella_chat .casella_info {
    color: #111;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Special Elite';
}

.casella_chat select {
	width: 100%;
    height: 21px;
}

.casella_info {
	color: #a19c7b;
    position: relative;
    font-family: 'Special Elite';
    font-size: 10px;
    letter-spacing: 2px;
}

.casella_chat a {
	color: #a19c7b;
    position: relative;
    font-family: 'Special Elite';
    font-size: 10px;
    letter-spacing: 2px;
}
/****************************************************************************/
