/* SCHEDA.css*/

/* STILE DELLA SCHEDA DEL PERSONAGGIO */
/****************************************************************************/
/* STILE DELLA SCHEDA DEL PERSONAGGIO */

/* HELP: Da qui Ã¨ possibile modificare:
- I font ed i colori della scheda del personaggio
- Le dimensioni, l'aspetto e la posizione degli elementi della scheda
- Lo sfondo della scheda */

div.pagina_scheda {
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 1000px;
    height: 560px;
    background: url(https://nonamegdr.altervista.org/themes/advanced/imgs/menu/sfondo-scheda-def.png);
    font-size: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    left: 118px;
    top: 20px;
}

div.pagina_scheda .page_title h2 {
    display:none;
}

div.pagina_scheda div.pagebody {
}

div.pagina_scheda a {
    /*font-weight: normal;*/
    background: #333 !important;
    padding: 5px !important;
    letter-spacing: 1px !important;
}

div.pagina_scheda div.form_info {
    font-style: italic;
}

/*Titoli dei box*/
div.pagina_scheda div.titolo_box {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 6px;
    display: none;
}

/*Box nome,ritratto,iscritto da, ultimo ingresso, scrivi a*/
div.ritratto {
    margin: 5px 5px 20px 3px;
    float: left;
    font-size: 12px;
    width: 300px;
    height: 480px;
    text-align: center;
    /* background: red; */
    position: relative;
    left: 211px;
    top: -10px;
}

div.ritratto .iscritto_da {
    position: relative;
    left: 450px;
    top: -140px;
    background: #fdf5e6;
    /* border: 2px solid #d2b48c; */
    padding: 10px 20px;
    /* border-radius: 2px; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4b3b2a;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px 0 #fff8dc;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 3px;
    transform: rotate(359deg);
    font-family: 'Bitter';
}

div.ritratto .ultimo_ingresso {
    position: relative;
    left: 400px;
    top: -138px;
    background: #fdf5e6;
    /* border: 2px solid #d2b48c; */
    padding: 10px 20px;
    /* border-radius: 2px; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4b3b2a;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px 0 #fff8dc;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 3px;
    transform: rotate(2deg);
    font-family: 'Bitter';
}

div.ritratto div.ritratto_invia_messaggio {
    position: relative;
    left: 10px;
    /* background: pink; */
    top: -48px;
    left: 91px;
}

/*Nome PG*/
div.ritratto div.ritratto_nome {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'ElliotSix', sans-serif;
    background: #fdf5e6;
    border: 2px solid #d2b48c;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4b3b2a;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px 0 #fff8dc;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1px;
    transform: rotate(5deg);
    width: 265px;
    position: relative;
    top: 10px;
    z-index: 3;
}

/*Immagine*/
div.ritratto div.ritratto_avatar {
    width: 265px;
    height: 425px;
    margin: 0;
    overflow: hidden;
    /* background: blue; */
    position: relative;
    top: 9px;
    left: -1px;
    transform: rotate(-4deg);
}

div.ritratto_avatar img {
    width: 265px;
    height: 425px;
}

/*Link invia messaggio*/
div.ritratto div.ritratto_invia_messaggio {
    margin: 5px 0 0 0;
}

/*Box punteggi, razza, gilda, ruolo off*/
div.profilo {
    margin: 5px 3px 20px 5px;
    float: right;
    font-size: 12px;
    width: 350px;
    position: relative;
    left: -77px;
    top: 30px;
}

div.profilo div.profilo_voce {
    text-align: justify;
    clear: both;
    height: 20px;
    position: relative;
    left: 0;
    width: 350px;
    border-bottom: 1px dashed black;
    padding-bottom: 0px;
}

/*Nome campo*/
div.profilo_voce div.profilo_voce_label {
    width: 40%;
    float: left;
    margin-left: 5px;
    color: #000;
    /* font-family: 'Courier New', Courier, monospace; */
    /* background-color: #fdf6e3; */
    color: #3b3b3b;
    /* padding: 10px 15px; */
    /* border: 1px solid #c8b99c; */
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); */
    letter-spacing: 0.05em;
    /* font-size: 16px; */
    font-family: 'Special Elite', monospace;
    line-height: 1.6;
    transform: rotate(0deg);
    text-shadow: 1px 1px 1px #c3c3a9;
}
/*Valore campo*/
div.profilo_voce div.profilo_voce_valore {
    text-align: right;
    width: 50%;
    float: right;
    margin-right: 5px;
    color: #c3c3a9;
    /* font-family: 'Great Vibes', cursive; */
    text-shadow: 1px 1px 1px black;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Special Elite', monospace;
    letter-spacing: 2px;
    line-height: 1.6;
}

/*Icone gilda*/
img.profilo_img_gilda {
    height: 15px;
    width: 15px;
}

/*Box status*/
div.profilo_status {
    margin: 5px 5px 5px 5px;
    clear: both;
    height: 100px;
    text-align: justify;
}

/*Casella PF nei controlli master*/
div.form_field input.healt_input {
    width: 28px;
}

/*Box storia pg, box affetti*/
div.background {
    margin: 10px 3px 5px 3px;
    clear: both;
    overflow: hidden;
    width: 510px;
}

div.background img {
    max-width: 500px;
}

/*Menu' interno scheda*/
div.menu_scheda {
    margin: 0 3px 5px 5px;
    float: right;
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 30px;
}

/*Box abilitÃ */
div.elenco_abilita {
    margin: 10px auto 5px auto;
    clear: both;
}

div.elenco_abilita table {
    margin: 2px auto 5px auto;
}

div.elenco_abilita td {
    vertical-align: top;
}

div.abilita_scheda_nome {
    width: 110px;
    font-size: 12px;
}

div.abilita_scheda_car {
    width: 70px;
    font-size: 12px;
}

div.abilita_scheda_tank {
    width: 20px;
    font-size: 12px;
}

div.abilita_scheda_sub {
    width: 35px;
    font-size: 12px;
}

/****************************************************************************/

/****************************************************************************/
/* STILE DELLA PAGINA DI MODIFICA SCHEDA */

div.modifica_scheda {
    margin: 10px;
}

/****************************************************************************/

/****************************************************************************/
/* STILE DELLA PAGINA DI EQUIPAGGIAMENTO */

div.omino_bianco_box {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
    text-align: center;
}

img.omino_bianco_img {
    margin-top: 40px;
    width: 300px;
    height: 226px;
}

div.omino_bianco_armdx {
    width: 49px;
    height: 36px;
    border: 1px dotted white;
    margin-top: 5px;
}

div.omino_bianco_armdx img {
    width: 48px;
    height: 35px;
}

div.omino_bianco_armsx {
    width: 49px;
    height: 36px;
    border: 1px dotted white;
    margin-top: 5px;
    margin-right: 0px;
}

div.omino_bianco_armsx img {
    width: 48px;
    height: 35px;
}

div.omino_bianco_chest {
    width: 75px;
    height: 50px;
    border: 1px dotted white;
    margin-top: 5px;
    margin-right: 0px;
}

div.omino_bianco_chest img {
    width: 74px;
    height: 49px;
}

div.omino_bianco_legs {
    width: 75px;
    height: 50px;
    border: 1px dotted white;
    margin-top: 5px;
}

div.omino_bianco_legs img {
    width: 74px;
    height: 49px;
    margin-right: 0px;
}

div.omino_bianco_feet {
    width: 63px;
    height: 46px;
    border: 1px dotted white;
    margin-top: 5px;
}

div.omino_bianco_feet img {
    width: 62px;
    height: 45px;
}

div.omino_bianco_head {
    width: 63px;
    height: 46px;
    border: 1px dotted white;
    margin-top: 5px;
}

div.omino_bianco_head img {
    width: 62px;
    height: 45px;
}

div.omino_bianco_neck {
    width: 49px;
    height: 36px;
    border: 1px dotted white;
    margin-top: 5px;
}

div.omino_bianco_neck img {
    width: 48px;
    height: 35px;
}

div.omino_bianco_ring {
    width: 30px;
    height: 20px;
    border: 1px dotted white;
    margin-top: 5px;
}

div.omino_bianco_ring img {
    width: 29px;
    height: 19px;
}

/*Inventario*/
div.pagina_scheda_equip {
}

div.pagina_scheda_oggetti {
}

div.pagina_scheda_oggetti td.casella_elemento,
div.pagina_scheda_equip td.casella_elemento {
    font-size: 12px;

    padding: 3px;
}

div.pagina_scheda_oggetti div.inventario_img img,
div.pagina_scheda_equip div.inventario_img img {
    height: 120px;
    width: 120px;
}

div.pagina_scheda_oggetti div.inventario_img,
div.pagina_scheda_equip div.inventario_img {
    width: 122px;
}

div.pagina_oggetti_equip div.inventario_nome,
div.pagina_scheda_equip div.inventario_nome {
    width: 122px;
}

div.pagina_scheda_oggetti div.inventario_quantita,
div.pagina_scheda_equip div.inventario_quantita {
    width: 122px;
}

div.pagina_scheda_oggetti div.inventario_nome,
div.pagina_scheda_equip div.inventario_nome {
    font-size: 12px;
    text-transform: uppercase;
}

div.pagina_scheda_oggetti div.form_label,
div.pagina_scheda_equip div.form_label {
    font-size: 12px;
    margin: 0;
}

div.pagina_scheda_oggetti input,
div.pagina_scheda_equip input {
    font-size: 12px;
    margin: 0;
}

div.inventario_riga_proprieta {
    width: 80px;
}

div.pagina_scheda_equip form,
div.pagina_scheda_oggetti form {
    text-align: center;
    margin: 0 0 4px 0;
}

.skill_incr.active,
.skill_decr.active {
    visibility:visible;
}
.skill_incr.inactive,
.skill_decr.inactive {
    visibility:hidden;
}



/****************************************************************************/

/** DIARIO **/

.pagina_scheda_diario{
    width: 100%;
}

.pagina_scheda_diario .fake-table{
    width: 100%;
    margin: 20px auto;
}

.pagina_scheda_diario .fake-table .footer,
.pagina_scheda_diario .fake-table .header{
    background: #23272a !important;
    border-radius: 5px 5px 0 0;
    color: #ccc !important;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.pagina_scheda_diario .fake-table.view-table .footer{
    border-radius: 0 0 5px 5px;
}

.pagina_scheda_diario .fake-table.view-table .header .td,
.pagina_scheda_diario .fake-table.view-table .footer .td{
    width: 49%;
}

.pagina_scheda_diario .fake-table .td{
    width: 120px;
    border-right: 1px solid #4d5259;
}

.pagina_scheda_diario .fake-table .td button{
    color: #ccc;
    text-decoration: none;
}

.pagina_scheda_diario .fake-table .td button:hover{
    color: #fff;
}

.pagina_scheda_diario .fake-table .tr {
    background: #7289da;
    margin: 0 auto;
    width: 650px;
    color: #23272a;
    border: solid black;
    border-width: 0 1px 1px 1px;
}

.pagina_scheda_diario .fake-table .tr:nth-child(2){
    border-top:none;
}

.pagina_scheda_diario .fake-table .td:last-child{
    border-right: none;
}
